<div style="border-color:{{quickSearchData.customStyle.borderColor}}  !important; background-color:{{quickSearchData.customStyle.backgroundColor}}; color:{{quickSearchData.customStyle.foreColor}};border-size:5px; border-style:solid;" class="widget shadow border-radius widget-border">
	<div class="title">
		<div style="color:{{quickSearchData.customStyle.foreColor}};" class="capstone">{{quickSearchData.title}}</div>
	</div>
	<div class="content">
		<span class="twitter-typeahead">
		<input type="text" placeholder="Search" name="widget-search" class="form-control widget-autocomplete tt-input" id="widget-search" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top;" dir="auto">
		</span>
	
		<div>
			<p>   {{quickSearchData.description}}
	    	</p>
	    </div>
    </div>
    <div class="content">
    	<div class="text"><p class="staff-search">Or view grants by staff person.</p></div>
    	<select name="widget-staff-search" class="form-control" id="widget-staff-search">
    		<option value="">Select a Staff Person</option>
    		<option ng-repeat="staff in quickSearchData.staffList" value="{{staff.id}}">{{staff.firstName}} {{staff.lastName}}</option>
    	</select>
    </div>
</div>