<div>
	<div class="title">
		<div style="color:#000000;" class="capstone">
			<span ng-bind-html="title">Title</span>
			<span ng-bind-html="fiscalYearData"></span>
		</div>
	</div>
	<div class="content">
		<table class="table-base table-bordered table-small dashboard table-no-stripe">
			<tbody>
				<tr ng-repeate="">
					<td align="right" ng-bind-html="ytgName">Forecast</td>
					<td align="right" ng-bind-html="ytgAmount">410,000</td>
				</tr>			
			</tbody>
		</table>
	<i>Grants by Approval Stage</i>
	</div>
</div>